#cabecera {
        background-color: rgb(51, 51, 51);
        border-radius: 10px;
        margin-top: 60px;
      }
      
      body {
        display: block;
        justify-content: center !important;
        border: solid grey 0.5px;
        border-radius: 1.5px;
        padding: 10px;
        background-color: rgb(160, 160, 190) !important;
      }
      .container {
        padding: 10px;
        border: solid rgb(8, 8, 8) 1px;
        border-radius: 10px;
      }
      .table {
        margin: 10px !important;
        padding: 5px;
      }
      
      #PiedePagina {
        margin-top: 10px;
        border: solid rgb(2, 2, 2) 1.5px;
        border-radius: 10px;
      }
      
      #formularioCotizacion {
        margin-top: 10px;
        border: solid rgb(2, 2, 2) 1.5px;
        border-radius: 10px;
        padding: 5%;
      }
      #formulario {
        background-color: rgb(237, 237, 245);
        border-radius: 10px;
      }
      #Comentarios {
        margin-top: 10px;
      }
      .card {
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
      }
      .jumbotron-fluid {
        border-radius: 10px;
      }
      #buttonCard {
        position: absolute;
      }
      .loremIpsum {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
      }
      #textarea {
        margin: 10px;
        border-radius: 10px;
        padding: 10px;
      }
      textarea {
        margin-bottom: 10px;
      }
      img {
        height: 200px;
      }
      #Tooltip {
        margin: 10px;
      }
      #carousel{
        border-radius: 10px;
        height: 350px;
      }